@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "social";
  src: url("/fonts/social.eot?z2fzos");
  src: url("/fonts/social.eot?z2fzos#iefix") format("embedded-opentype"), url("/fonts/social.ttf?z2fzos") format("truetype"), url("/fonts/social.woff?z2fzos") format("woff"), url("/fonts/social.svg?z2fzos#social") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "social" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aperture:before {
  content: "\e900";
  color: #fff;
}

.icon-facebook:before {
  content: "\e901";
  color: #c0c0c0;
}

.icon-instagram:before {
  content: "\e902";
  color: #c0c0c0;
}

.icon-iso:before {
  content: "\e903";
  color: #fff;
}

.icon-location:before {
  content: "\e904";
  color: #fff;
}

.icon-shutter:before {
  content: "\e905";
  color: #fff;
}

.icon-twitter:before {
  content: "\e906";
  color: #c0c0c0;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #C0C0C0;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.7142857143em 0;
  background-color: #181818;
  z-index: 50;
}

.header.__scroll {
  padding: 1.2857142857em 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 9.1428571429em;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 2.2857142857em;
}

.menu__link {
  font-size: 1.0714285714em;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}

.button {
  width: 9.6875em;
  height: 2.625em;
  border-radius: 0.875em;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: inherit;
  color: #FFFFFF;
}

.text-button {
  font-size: 1.1428571429em;
  color: #000000;
}

.home-page {
  padding: 6.4285714286em 0 2.8571428571em 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-page__bg {
  background: url(/img/home-page-bg.jpg) no-repeat 0 6.4285714286em/cover;
}

.home-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.overhead-text {
  letter-spacing: 0.1428571429em;
  text-transform: uppercase;
}

.home-page__title {
  margin-bottom: 0.3333333333em;
}

.main-title {
  font-size: 3.8571428571em;
  line-height: 1.0925925926em;
  color: #FFFFFF;
}

.home-page__description {
  max-width: 580px;
  margin-bottom: 1em;
}

.home-page__option {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 40px;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option__item:not(:last-child) {
  margin-right: 1.1428571429em;
}

.option-icon {
  font-size: 16px;
  margin-right: 0.375em;
}

.option-text {
  font-size: 0.8571428571em;
  line-height: 1em;
  color: #FFFFFF;
}

.about-us {
  padding: 8em 0 7.1428571429em;
}

.about-us__title {
  margin-bottom: 0.375em;
}

.basic-title {
  text-align: center;
  font-size: 2.8571428571em;
  line-height: 1.05;
  color: #FFFFFF;
}

.about-us__info {
  margin-bottom: 1.75em;
}

.subtitle-text {
  text-align: center;
  font-size: 1.7142857143em;
  line-height: 1.25;
}

.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__row:not(:last-child) {
  margin-bottom: 1.1428571429em;
}

.catalog__item {
  position: relative;
  max-width: 576px;
  max-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.catalog__item:not(:last-child) {
  margin-right: 16px;
}

.catalog__item-bg {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.catalog__item-bg img {
  background-size: cover;
}
.catalog__item-bg:hover {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.catalog__content {
  position: absolute;
  bottom: 0;
  padding: 0 30px 2.1428571429em 2.1428571429em;
}

.catalog__title {
  margin-bottom: 0.7142857143em;
}

.catalog__title.overhead-text {
  color: #FFFFFF;
}

.catalog__description {
  margin-bottom: 0.7142857143em;
}

.button-wrapper {
  display: inline-block;
  padding: 0.6em 1.3333333333em;
  border-radius: 0.9333333333em;
  background-color: #FFFFFF;
  font-size: 1.0714285714em;
  color: #000000;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.button-wrapper:hover {
  background-color: inherit;
  color: #FFFFFF;
}

.our-work {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 0 15px;
  padding-bottom: 2.8571428571em;
}

.mount-fuji {
  background-image: url(/img/mount-fuji-bg.jpg);
}

.monstera-leafs {
  background-image: url(/img/monstera-leafs-bg.jpg);
}

.himalayas {
  background-image: url(/img/himalayas-bg.jpg);
}

.our-work__wrapper {
  position: relative;
  height: 100%;
}

.our-work__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 0;
  bottom: 0;
  height: 53.3333333%;
}

.our-work__text {
  max-width: 360px;
  padding-right: 3.3571428571em;
}

.our-work__title.overhead-text {
  color: #FFFFFF;
}

.our-work__option {
  padding-right: 2.8571428571em;
}

.our-tools__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
}

.our-tools__left {
  position: relative;
  width: 50%;
  height: 100%;
}

.our-tools__content {
  max-width: 514px;
  position: absolute;
  top: 11.9444444444vw;
  left: 6.9444444444vw;
}

.our-toolst__title {
  margin-bottom: 0.5em;
}

.title-medium {
  font-size: 2em;
  line-height: 1.1428571429;
  color: #FFFFFF;
}

.our-tools__description {
  margin-bottom: 1.4285714286em;
  color: #FFFFFF;
}

.our-tools-right {
  width: 50%;
  background: url(/img/tools__bg.jpg) no-repeat center/cover;
}

.past-client {
  padding: 8.0714285714em 0 10em;
}

.past-client__container {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}

.past-client__title {
  margin-bottom: 0.375em;
}

.past-client__info {
  margin-bottom: 3.4166666667em;
}

.past-client__list {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7.7142857143em;
}

.past-client__icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help {
  padding: 8.0714285714em 15px 7.7142857143em 15px;
  text-align: center;
}

.help__title {
  margin-bottom: 0.375em;
  display: inline-block;
  max-width: 571px;
}

.help__info {
  margin-bottom: 0.9166666667em;
}

.footer {
  padding: 6.5714285714em 0 7.1428571429em;
  padding: 0 15px;
}

.footer__container {
  max-width: 1170px;
  margin: 0 auto;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.5714285714em;
}

.footer__intro {
  margin-bottom: 2.1428571429em;
  margin-right: 50px;
}

.footer__collums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__collum:not(:last-child) {
  margin-right: 50px;
}

.footer__list-title:not(:last-child) {
  margin-bottom: 10px;
}

.footer__list-item {
  display: block;
  color: #FFFFFF;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding: 2.5714285714em 0;
}

.foter__form-text {
  margin-bottom: 2.1428571429em;
}

.footer__form-title {
  color: #FFFFFF;
  margin-bottom: 1.4285714286em;
}

.footer__form-input {
  width: 39.15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.form-input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  padding: 0 80px 0 15px;
}

.footer__form-button {
  position: absolute;
  right: 0;
  margin-right: 10px;
  border: 2px solid #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__form-button:hover {
  background-color: inherit;
  color: #000000;
}

.form-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 8px 15px;
  border-radius: 11px;
}

.footer__bottom {
  padding: 4.1428571429em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright {
  margin-right: 50px;
}

.footer__social-item {
  margin-right: 0.8333333333em;
  font-size: 1.7142857143em;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 0.8125em;
  }
  .our-work__text {
    max-width: 236px;
    padding-right: 0;
  }
  .our-work__option {
    padding-right: 0;
  }
}
@media screen and (max-width: 850px) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    z-index: 5;
  }
  .header__logo {
    z-index: 5;
  }
  .header__button {
    margin-right: 10px;
    z-index: 5;
  }
  .menu__list {
    position: fixed;
    display: block;
    text-align: center;
    padding-top: 6.4285714286em;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 4;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .menu__list.__active {
    right: 0;
  }
  .menu__item {
    margin-right: 0;
    padding: 20px;
  }
  .menu__link {
    font-size: 1.2857142857em;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
  }
  .menu__burger:before,
.menu__burger:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__burger:before {
    top: 0;
  }
  .menu__burger:after {
    bottom: 0;
  }
  .menu__burger span {
    position: absolute;
    right: 0;
    top: 10px;
    height: 2px;
    width: 70%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__burger.__active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .menu__burger.__active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .menu__burger.__active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger {
    z-index: 10;
  }
}
@media screen and (max-width: 767px) {
  /* стили для средних планшетов - начало */
  .home-page {
    padding: 6.4285714286em 15px 1.0714285714em 15px;
  }
  .home-page__option {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .our-tools__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-tools__left {
    width: 100%;
    height: 50%;
  }
  .our-tools-right {
    width: 100%;
    height: 50%;
    padding: 0 15px;
  }
  .our-tools__content {
    max-width: 100%;
    left: 0;
    padding: 0 15px;
  }
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__form-input {
    width: 90%;
  }
}
@media screen and (max-width: 479px) {
  /* стили для телефонов - начало */
  body {
    font-size: 0.6875em;
  }
  .our-work__content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */