@import "reset.scss";

$defaultFont: 'Poppins', sans-serif;
$defaultColor: #000000;
$defaultColorFont: #C0C0C0;
$defaultFontSize: 14;
$defaultLineHeight: 20;
$defaultFontWeight: 400;
$containerWidth: (1168 + 30) + px;

$backgroundColorHeader: #181818;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$colorTextLink: #FFFFFF;

$fontSizeTextButton: 16;

@mixin HeaderHoverLink {
    &:hover{
        text-decoration: underline;
    }
}
@mixin hoverButton {
    &:hover {
        background-color: inherit;
        color: $colorTextLink;
    }
}
@import "font-icon";
body {
    background-color: $defaultColor;
    font-family: $defaultFont;
    font-size: ($defaultFontSize / 16) + em;
    font-weight: $defaultFontWeight;
    line-height: ($defaultLineHeight / $defaultFontSize);
    color: $defaultColorFont;
}
.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    position: fixed;
    width: 100%;
    padding: (24 / 14) + em 0;
    background-color: $backgroundColorHeader;
    z-index: 50;
}
.header.__scroll {
    padding: (18 / 14) + em 0;
    transition: all 0.3s ease 0s;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: (128 / 14) + em;
    display: block;
}
.header__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__item {
    margin-right: (32 / 14) + em;
}
.menu__link {
    font-size: (15 / 14) + em;
    color: $whiteColor;
    @include HeaderHoverLink();
}
.button {
    width: (155 / 16) + em;
    height: (42 / 16) + em;
    border-radius: (14 / 16) + em;
    border: 2px solid $whiteColor;
    transition: all 0.3s ease 0s;
    @include hoverButton();
}
.text-button {
    font-size: (16 / 14) + em;
    color: $blackColor;
}


//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.home-page {
    padding: (90 / 14) + em 0 (40 / 14) + em 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
.home-page__bg {
    background: url(/img/home-page-bg.jpg)no-repeat 0 (90 / 14) + em / cover;
}
.home-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.overhead-text {
    letter-spacing: (2 / 14) + em;
    text-transform: uppercase;
}
.home-page__title {
    margin-bottom: (18 / 54) + em;
}
.main-title {
    font-size: (54 / 14) + em;
    line-height: (59 / 54) + em;
    color: $whiteColor;
}
.home-page__description {
    max-width: 580px;
    margin-bottom: (14 / 14) + em;
}
.home-page__option {
    width: 100%;
    justify-content: flex-end;
    padding: 0 40px;
}
.option {
    display: flex;
}
.option__item {
    display: flex;
    align-items: center;
}
.option__item:not(:last-child) {
    margin-right: (16 / 14) + em;
}
.option-icon {
    font-size: 16px;
    margin-right: (6 / 16) + em;
}
.option-text {
    font-size: (12 / 14) + em;
    line-height: (12 / 12) + em;
    color: $whiteColor;
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.about-us {
    padding: (112 / 14) + em 0 (100 / 14) + em;
}
.about-us__title {
    
    margin-bottom: (15 / 40) + em;
}
.basic-title {
    text-align: center;
    font-size: (40 / 14) + em;
    line-height: (42 / 40);
    color: $whiteColor;
    
}
.about-us__info {
    margin-bottom: (42 / 24) + em;
}
.subtitle-text {
    text-align: center;
    font-size: (24 / 14) + em;
    line-height: (30 / 24);
}
.catalog__row {
    display: flex;
}
.catalog__row:not(:last-child) {
    margin-bottom: (16 / 14) + em;
}
.catalog__item {
    position: relative;
    max-width: 576px;
    max-height: 600px;
    align-items: center;
    overflow: hidden;
}
.catalog__item:not(:last-child) {
    margin-right: 16px;
}
.catalog__item-bg {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    & img {
        background-size: cover;
}
&:hover {
    transform: scale(1.05, 1.05);
   
}
}
.catalog__content {
    position: absolute;
    bottom: 0;
    padding: 0 30px (30 / 14) + em (30 / 14) + em;
}
.catalog__title {
    margin-bottom: (10 / 14) + em;
}
.catalog__title.overhead-text {
    color: $whiteColor;
}
.catalog__description {
    margin-bottom: (10 / 14) + em;
}
.button-wrapper {
    display: inline-block;
    padding: (9 / 15) + em (20 / 15) + em;
    border-radius: (14 / 15) + em;
    background-color: $whiteColor;
    font-size: (15 / 14) + em;
    color: $blackColor;
    border: 2px solid $whiteColor;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @include hoverButton()
}

//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.our-work {
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 0 15px;
    padding-bottom: (40 / 14) + em ;
}
.mount-fuji {
    background-image: url(/img/mount-fuji-bg.jpg);
}
.monstera-leafs {
    background-image: url(/img/monstera-leafs-bg.jpg);
}
.himalayas {
    background-image: url(/img/himalayas-bg.jpg);
}
.our-work__wrapper {
    position: relative;
    height: 100%;
}
.our-work__content {
    position: absolute;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    align-items: flex-end;
    right: 0;
    bottom: 0;
    height: 53.3333333%;
}
.our-work__text {
    max-width: (298 + 62) + px;
    padding-right: ((62 - 15) / 14) + em;
}
.our-work__title.overhead-text {
    color: $whiteColor;
}
.our-work__option {
    padding-right: (40 / 14) + em;
}
//--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



.our-tools__wrapper {
    display: flex;
    height: 540px;
    
}
.our-tools__left {
    position: relative;
    width: 50%;
    height: 100%;
}
.our-tools__content {
    max-width: 514px;
    position: absolute;
    top: (172 / 720 * 100 / 2) + vw;
    left: (100 / 720 * 100 / 2) + vw;
}
.our-toolst__title {
    margin-bottom: (14 / 28) + em;
}
.title-medium {
    font-size: (28 / 14) + em;
    line-height: (32 / 28);
    color: $whiteColor;
}
.our-tools__description {
    margin-bottom: (20 / 14) + em;
    color: $whiteColor;
}
.our-tools-right {
    width: 50%;
    background: url(/img/tools__bg.jpg)no-repeat center / cover;
}


//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.past-client {
    padding: (113 / 14) + em 0 (140 / 14) + em;
}
.past-client__container {
    max-width: 1105px;
    margin: 0 auto;
    padding: 0 15px;
}
.past-client__title {
    margin-bottom: (15 / 40) + em;
}

.past-client__info {
    margin-bottom: (82 / 24) + em;
}
.subtitle-text {
}
.past-client__list {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: (108 / 14) + em;
}
.past-client__icon {
    display: inline-block;
    align-items: center;    
}



//----------------------------------------------------------------------------------------------------------------------------------------------------------------



.help {
    padding: (113 / 14) + em 15px (108 / 14) + em 15px;
    text-align: center;
}
.help__title {
    margin-bottom: (15 / 40) + em;
    display: inline-block;
    max-width: 571px;
}
.help__info {
    margin-bottom: (22 / 24) + em;
}

//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\


.footer {
    padding: (92 / 14) + em 0 (100 / 14) + em;
    padding: 0 15px;
}
.footer__container {
    max-width: 1170px;
    margin: 0 auto;
}
.footer__nav {
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: (36 / 14) + em;
}
.footer__intro {
    margin-bottom: (30 / 14) + em;
    margin-right: 50px;
}
.footer__logo {
}
.footer-description {
}
.footer__collums {
    display: flex;
    
}
.footer__collum {
}
.footer__collum:not(:last-child) {
    margin-right: 50px;
}
.footer__list {
}
.footer__list-title:not(:last-child) {
margin-bottom: 10px;
}
.overhead-text {
}
.footer__list-item {
    display: block;
    color: $whiteColor;
    
}
.footer__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__form {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $whiteColor;
    border-bottom: 2px solid $whiteColor;
    padding: (36 / 14) + em 0;
}
.foter__form-text {
    margin-bottom: (30 / 14) + em;
}
.footer__form-title {
    color: $whiteColor;
    margin-bottom: (20 / 14) + em;
}
.footer__form-description {
}
.footer__form-input {
    width: 39.15%;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
}
.form-input {
    width: 100%;
    height: 52px;
    border-radius: 12px;
    padding: 0 80px 0 15px;
}
.footer__form-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    border: 2px solid $blackColor;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: inherit;
        color: $blackColor;
    }
}
.form-button {
    background-color: $blackColor;
    color: $whiteColor;
    padding: 8px 15px;
    border-radius: 11px;
}


//------------------------------------------------------------------------------------------------------------------------------------------------------------


.footer__bottom {
    padding: (58 / 14) + em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__copyright {
    margin-right: 50px;
}
.footer__social-item {
    margin-right: (20 /24) + em;
    font-size: (24 / 14) + em;
}

@media screen and (max-width: 991px) {
    body {
        font-size: (13 / 16) + em;
    }
    .our-work__text {
        max-width: (298 - 62) + px;
        padding-right: 0;
    }
    .our-work__option {
        padding-right: 0;
    }
    
    }






@media screen and (max-width: 850px) {
    .header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$backgroundColorHeader;
        z-index: 5;
    }
    .header__logo {
        z-index: 5;
    }
    .header__button {
        margin-right: 10px;
        z-index: 5;
    }
    .menu__list {
        position: fixed;
        display: block;
        text-align: center;
        padding-top: (90 / 14) + em;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #222222;
        z-index: 4;
        overflow: auto;
        transition: all 0.5s ease 0s;
        overflow: auto;
    }
    .menu__list.__active {
        right: 0;
    }
    .menu__item {
        margin-right: 0; 
        padding: 20px;   
    }
    .menu__link {
        font-size: (18 / 14) + em;
    }
    .menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
    }
    .menu__burger:before,
    .menu__burger:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $whiteColor;
        transition: all 0.5s ease 0s;
    }
    .menu__burger:before {
        top: 0;
    }
    .menu__burger:after {
        bottom: 0;
    }
    .menu__burger span{
        position: absolute;
        right: 0;
        top: 10px;
        height: 2px;
        width: 70%;
        background-color: $whiteColor;
        transition: all 0.3s ease 0s;
    }
    .menu__burger.__active:before {
        transform: rotate(45deg);
        top: 10px;
    }
    .menu__burger.__active:after {
        transform: rotate(-45deg);
        bottom: 10px
    }
    .menu__burger.__active span {
        transform: scale(0);
    }
    .header__burger {
        z-index: 10;
    }
}










@media screen and (max-width: 767px) {
    /* стили для средних планшетов - начало */
    .home-page {
        padding: (90 / 14) + em 15px (15 / 14) + em  15px;
    }
    .home-page__option {
        justify-content: center;
    }
    .catalog__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalog__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .our-tools {
        
    }
    .our-tools__wrapper {
        display: flex;
        flex-direction: column;
        
    }
    .our-tools__left {
        width: 100%;
        height: 50%;
    }
    .our-tools-right {
        width: 100%;
        height: 50%;
        padding: 0 15px;
    }
    .our-tools__content {
        max-width: 100%;
        left: 0;
        padding: 0 15px;
    }
    .footer__form {
        flex-direction: column;
    }
    .footer__form-input {
        width: 90%;
    }
  
}
@media screen and (max-width: 479px) {
    /* стили для телефонов - начало */
    body {
        font-size: (11 / 16) + em;
    }
    .our-work__content { 
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer__bottom {
        flex-direction: column;
        justify-content: center;
    }
    .footer__copyright {
        margin-right: 0;
        margin-bottom: 10px;
    }
}